.container {
    display: flex;
    flex-direction: column;
}

.link {
    margin: 16px 0;
    color: #e3dcbc;
}

.link:hover {
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: linear;
    color: #fff;
}

.cover {
    width: 100%;
}
