<section class="container">
    <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/2t02-Sa7QmI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <a href='https://vocal.media/motivation/acceptance-criteria' class='link'>Acceptance Criteria</a>

    <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/1PiCOMJ-1N0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <a href='https://vocal.media/motivation/watermelon-can' class='link'>Watermelon Can</a>

    <a href='https://vocal.media/humans/increasing-knowledge-increases-sorrow'><img class='cover' src='./assets/increasing_knowledge.png' alt='victorian building'/></a>
    <a href='https://vocal.media/humans/increasing-knowledge-increases-sorrow' class='link'>Increasing Knowledge Increases Sorrow</a>
</section>