<main>
  <nav class='top-nav'>
    <input id='menu-toggle' type='checkbox' />
    <label class='menu-button-container' for='menu-toggle'>
      <div class='menu-button'></div>
    </label>
    <ul class='menu'>
      <li>
        <a routerLinkActive="whitened-link" routerLink='/trinity' class='grey-link' (click)="closeBurgerMenu()">Trinity</a>
      </li>
      <li>
        <a routerLinkActive="whitened-link" routerLink='/mixtape' class='grey-link' (click)="closeBurgerMenu()">Mixtape</a>
      </li>
      <li>
        <a routerLinkActive="whitened-link" routerLink='/memos' class='grey-link' (click)="closeBurgerMenu()">Memos</a>
      </li>
      <li>
        <a href="https://heartbeat-sounds.com" class='grey-link'>Heartbeat</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>

  <footer>
    Developed by Risky4real
  </footer>

</main>
