<div class='banner'>
  <span class='announcement'>Debut Album is out!</span>
  <div class='media'>
    <a href='https://www.instagram.com/risky4real/' class='icon-link' aria-label='Instagram'>
      <img ngSrc='../../assets/instagram.svg' class='responsive-svg' title='Instagram' alt='Instagram Icon' height='32' width='32'>
    </a>
    <a href='https://www.tiktok.com/@risky4real4real' class='icon-link' aria-label='TikTok'>
      <img ngSrc='../../assets/tiktok.svg' class='responsive-svg' title='TikTok' alt='TikTok Icon' height='32' width='32'>
    </a>
    <a href='https://www.snapchat.com/add/risky4real4real' class='icon-link' aria-label='Snapchat'>
      <img ngSrc='../../assets/snapchat.svg' class='responsive-svg' title='Snapchat' alt='Snapchat Icon' height='32' width='32'>
    </a>
    <a href='https://www.youtube.com/@risky4real4real' class='icon-link' aria-label='YouTube'>
      <img ngSrc='../../assets/youtube.svg' class='responsive-svg' title='YouTube' alt='YouTube' height='32' width='32'>
    </a>
  </div>
</div>